
.bar-container {
    background-color: darkslategrey;
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: stretch;
    color:white;
}
.page-container {
    background-color: darkslategrey;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
    width: 100%;
   
    }