.product-container {
    background-color: darkslategrey;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
    width: 100%;
   
    }

.image-container {    
    width: 40%;
    padding:10%;
    max-width: 40vw;

}
    

.detail-container {
    color:white;
    padding-left: 5%;
           
}
        
        
