.product-grid {
    display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 16px;
}
  
.products h2{
    color:white;
   }
 
  .products {
   display:block;
   width:90%;
  }
