.card-item {
    margin: 5px;
  border: 1px solid #ccc;
  background-color :white;
  color:black;
  width:220px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center
  }
  
  .description {
   text-align: center;
  }

  .card-item img {
   width:220px;
  max-height: 220px;
  }